.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.input-container {
    margin-right: 20px;
}

.vertical-line {
    width: 1px;
    height: 100%;
    background-color: #ccc;
    margin: 0 20px;
}

.renderer {
    border: 1px solid #ccc;
    width: 400px;
    height: 400px;
}
